<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="headText">Users list</h1>
    <a href="/" class="linkTo">Go to head</a>
    <div class="usersBox">
        {{#each users}}
        <div class="userBox">
            <p class="userBox_text">User data</p>
            <ul class="userBox_dataList">
                <li class="userBox_name userBox_li">{{this.username}}</li>
                <li class="userBox_email userBox_li">{{this.email}}</li>
                <li class="userBox_tepephone userBox_li">{{this.telephone}}</li>
            </ul>
            <a href="/users/{{this.username}}/delete" method="delete" class="linkTo delete" data-username="{{this.username}}">Detete user</a>
            <a href="/users/{{this.username}}/changeUser" class="userBox_changeUser">Change</a>
        </div>
        {{/each}}
    </div>
    <script src="/js/users.js"></script>
</body>
</html>